<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Добавить программу</title>
    <link rel='stylesheet' type='text/css' th:href='@{/styles/addProgramPageStyle.css}'>
</head>
<body>
<form th:action="@{'/program/add'}" th:method="POST" th:object="${program}" enctype="multipart/form-data">

    <div class="h2">
        <h2>Добавление программы</h2>
    </div>

    <input type="text" name="userId" th:value="*{userId}" class="no-vis">
    <input type="text" name="detailId" th:value="*{detailId}" class="no-vis">

    <input type="text" name="index" placeholder="обозначение операции" class="f-col input-text">


    <div class="f-col file">
        <label for="file-fanuc">FANUC</label>
        <input id="file-fanuc" type="file" name="codeFanuc" class="addFile">
    </div>


    <div class="f-col file">
        <label for="file-HAAS">HAAS</label>
        <input id="file-HAAS" type="file" name="codeHaas" class="addFile">
    </div>

    <div class="f-col file">
        <label for="file-h">H</label>
        <input id="file-h" type="file" name="codeH" class="addFile">
    </div>

    <div class="f-col">
        <input type="radio" id="t" name="type" value="токарная" checked>
        <label for="t">Токарная</label>
    </div>

    <div class="f-col">
        <input type="radio" id="f" name="type" value="фрезерная">
        <label for="f">Фрезерная</label>
    </div>

    <div class="f-col">
        <input type="radio" id="tf" name="type" value="токарно-фрезерная">
        <label for="tf">Токарно-фрезерная</label>
    </div>


    <input type="submit" value="Сохранить" class="f-col btn">
</form>

</body>
</html>