<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Добавить программу</title>
</head>
<body>
<form th:action="@{'/program/add'}" th:method="POST" th:object="${program}" enctype="multipart/form-data">
    <input type="text" name="userId" th:value="*{userId}">
    <input type="text" name="detailId" th:value="*{detailId}">
    <input type="text" name="index" placeholder="номер операции">
    <input type="file" name="code" th:value="*{code}" placeholder="программа">
    <input type="radio" id="t" name="type" value="токарная" checked>
    <label for="t">Токарная</label>
    <input type="radio" id="f" name="type" value="фрезерная">
    <label for="f">Фрезерная</label>
    <input type="submit" value="Сохранить">
</form>

</body>
</html>