<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{styles/authPage.css}'>
</head>
<body>
<div class="block">
    <form th:action="@{/auth}" th:method="POST">
        <label class="label">Авторизация</label>
        <input type="text" name="name" placeholder="логин" class="p">
        <input type="password" name="pass" placeholder="пароль" class="p">
        <input type="submit" value="войти" class="p btn">
    </form>
</div>

</body>
</html>